.profileEdit_container {
    width: 800px;
    margin: 5rem auto;
    text-align: center;
    .edit_section {
        .section_title {
            font-weight: 900;
            text-indent: 4px;
            font-size: 2.5rem;
            line-height: 18px;
            color: $key-color;
            margin-bottom: 4rem;
        }
        .section_scope {
            display: block;
            color: #999999;
            line-height: 3rem;
        }
    }
}