.Register_Container {
    width: 500px;
    margin: 10rem auto;
    text-align: center;
    
    .register_title {
        font-size: 2.7rem;
    }
    .Register_form {
        background-color: white;
        z-index: 50;
        .inputTextBox {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            margin: 15px 0;
            border: none;
            background: #e5e5e5;
            text-indent: 30px;
            text-transform: none;
            line-height: 20px;
            border-radius: 20px;
            font-size: $ss-size;
            &:focus {
                outline: none;
            }
        }
        .btnRegister {
            display: block;
            width: 100%;
            padding: 0.5rem 0;
            margin: 15px 0;
            border: none;
            font-weight: bold;
            background-color: $key-color;
            color: white;
            text-transform: none;
            line-height: 20px;
            border-radius: 20px;
            font-size: $ss-size;
            cursor: pointer;
        }
    }
    .login_forgot_pw {
        color: #00abe6;
        font-size: $ss-size;
        margin-bottom: 20px;
    }

    .login_link_register {
        border: 1px solid #e1e1e1;
        border-radius: 20px;
        padding: 0.5rem 1rem;
        color: black;
        &:hover {
            text-decoration: none;
            border: .5px solid black;
        }
    }
}
