// Color
$key-color: #214368;
$key-color-dark: #122e4d;
// Sizing
$ss-size: 1rem;
$s-size: 1.5rem;
$m-size: 3.5rem;
$l-size: 15rem;
$xl-size: 20rem;

body {
    font-family: 'Catamaran', sans-serif;
}

.App {
    min-height: 100vh;
}